<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <title>Liste de Patients</title>
    <!--    <link rel="stylesheet" type="text/css"  href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />-->
</head>
<body>
<div layout:fragment="pageContent">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                liste de patients
            </div>
            <div class="card-body">
                <div class="container row mb-3">
                    <form method="get" th:action="@{patients}" class="col mr-2">
                        <div class="form-group row">
                                <label for="keyword" class="control-label col mt-2">Nom : </label>
                            <input type="text" name="keyword" id="keyword" th:value="${keyword}"
                                   class="form-control col-7 mr-2 " placeholder="chercher par Nom de patient">
                            <button class="btn btn-primary col">Chercher</button>
                        </div>
                    </form>

                    <form method="get" th:action="@{patientNumero}" class="col ml-2">
                        <div class="form-group row">
                            <label for="numero" class="control-label col mt-2 ">Numero : </label>
                            <input type="number" name="num" id="numero" th:value="${num}"
                                   class="form-control col-7 mr-2" placeholder="chercher par numero du patient">
                            <button class="btn btn-primary col">Chercher</button>
                        </div>
                    </form>
                </div>
                <hr class="hr hr-blurry mb-5"/>
                <table class="table mt-2 table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Date De Naissance</th>
                        <th>Malade</th>
                        <th >Numero</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')" style="padding-left: 30px;">Action</th>
                    </tr>
                    <tr th:each="p:${patients}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.dateNaissance}"></td>
                        <td th:text="${p.malade}"></td>
                        <td th:text="${p.numero}"></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a onclick=" return confirm('Ëtes Vous sûr de vouloir supprimer Ce Patient')"
                               class="mr-3 btn btn-danger"
                               th:href="@{deletePatient(id=${p.id},page=${currentPage},size=${size}, keyword=${keyword})}">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a class="btn btn-primary" th:href="@{editPatient(id=${p.id})}"> <i
                                    class="fas fa-pen-clip"></i>
                            </a>
                        </td>
                    </tr>
                </table>
                <hr class="hr hr-blurry mb-5 mt-5"/>


                <div class="d-flex justify-content-center">

                    <ul class="nav nav-pills text-center">
                        <li th:each="page,status:${pages}" class="text-center">
                            <a th:if="${num==null}" th:class="${status.index==currentPage? 'btn btn-success': 'btn'}"
                               th:text="${status.index}"
                               th:href="@{patients(page = ${status.index},keyword=${keyword})}"></a>
                            <a th:if="${num!=null}" th:class="${status.index==currentPage? 'btn btn-success': 'btn'}"
                               th:text="${status.index}"
                               th:href="@{patientNumero(page = ${status.index},num=${num})}"></a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>