<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Pages Patients</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
    <script src="webjars/popper.js/1.14.3/umd/popper.min.js" ></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{index}">Pa.Tient</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{index}">Accueill <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Médecins</a>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Patients
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{formPatient}" sec:authorize="hasRole('ROLE_ADMIN')">Ajouter</a>
                    <a class="dropdown-item" th:href="@{patients}">Listes</a>
                    <a class="dropdown-item" href="#">Chercher</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span sec:authorize="isAuthenticated()">
                        <span sec:authentication="name"></span>
                    </span>
                    <span sec:authorize="!isAuthenticated()">
                        <span> Se Connecter </span>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{login}" >Login</a>
                    <a class="dropdown-item" sec:authorize="!isAnonymous()" th:href="@{/logout}">Logout</a>
                    <a class="dropdown-item" sec:authorize="!isAuthenticated()" href="#">Profile</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<section layout:fragment="pageContent"></section>

</body>
</html>